body{
    font-family: 'Courier New', sans-serif;
}

.header1{
    font-weight: 500;
    font-size: 40px;
    color:#ff9326;
}

p{
    color: #ffbd15;
    font-weight: 200;
    font-size: 30px;
    text-align: center;
}

.mb-4{
	text-align: center;
}

.mb-2.ml-1{
	padding-left: 50px;
	text-align: center;
}

.btn.btn-primary{
	color:#ffffff;	
}

.btn.btn-primary{
	color:#ff9326;
}